[Unit]
Description=Start the group play service
After=net-config.service

[Service]
ExecStart=/usr/bin/group-play-svc
#Type=oneshot
Restart=always
RestartSec=3

[Install]
WantedBy=graphical.target
